{% extends "layout.html" %}
{% set bodyId = "page-create-point" %}
   %{% block title %}
    <title>Criar um ponto de coleta</title>
   {% endblock title %}
    
    {% block styles %}
     <link rel="stylesheet" href="styles/create-point.css">
     <link rel="stylesheet" href="styles/modal.css">
    {% endblock styles %}
    
   
    
    

    {% block content %}
        {%include "partials/page-header.html"%}   
   
            <form method="POST" action="/savepoint">
                <h1>Cadastro do ponto de coleta</h1>
                <fieldset>
                    <legend>
                        <h2>Dados da Entidade</h2>
                    </legend>
                    <div class="field-group">
                        <div class="field">
                            <label for="name">Nome da Entidade</label>
                            <input type="text"name="name" required>
                        </div>
                        <div class="field">
                            <label for="name">Imagem da Entidade</label>
                            <input type="url"name="image" required>
                        </div>
                    </div>
                    
                    <div class="field-group">
                        <div class="field">
                            <label for="adress">Endereço</label>
                            <input type="text"name="adress" required>
                        </div>
                        <div class="field">
                            <label for="adress2">Numero/Complemento</label>
                            <input type="text"name="adress2" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label for="state">Estado</label>
                            <select name="uf" required>
                                <option value="">Selecione o Estado</option>
                            </select>
                            <input type="hidden" name="state">
                        </div>
                        <div class="field">
                            <label for="city">Cidade</label>
                            <select name="city" disabled>
                                <option value="">Selecione a Cidade</option>
                            </select>
                        </div>
                    </div>


                </fieldset>
                <fieldset>
                    <legend>
                        <h2>Itens de Coleta</h2>
                        <span>Selecione um ou mais itens abaixo</span>
                    </legend>
                    <div class="items-grid">
                        <li data-id="Lâmpadas">
                            <img src="./assets/lampadas.svg" alt="Lampadas">
                            <span>Lâmpadas</span>
                        </li>
                        <li data-id="Pilhas e Baterias">
                            <img src="./assets/baterias.svg" alt="Baterias">
                            <span>Pilhas e Baterias</span>
                        </li>
                        <li data-id="Papéis e Baterias">
                            <img src="./assets/papeis-papelao.svg" alt="Papeis">
                            <span>Papeis e Papelão</span>
                        </li>
                        <li data-id="Residuos Eletronicos">
                            <img src="./assets/eletronicos.svg" alt="Residuos Eletronicos">
                            <span>Residuos Eletronicos</span>
                        </li>
                        <li data-id="Residuos Orgânicos">
                            <img src="./assets/organicos.svg" alt="Residuos Orgânicos">
                            <span>Residuos Orgânicos</span>
                        </li>
                        <li data-id="Óleo de Cozinha">
                            <img src="./assets/oleo.svg" alt="Óleo de Cozinha">
                            <span>Óleo de Cozinha</span>
                        </li>

                    </div>
                    <input type="hidden" name="items">

                </fieldset>
                <button type="submit">Cadastrar ponto de colera</button>
            </form>
           
           
      {% endblock content %}
      {% block modal %}
       {% if saved %}
             {%include "partials/point-created.html"%}}
            {% endif %}
      {% endblock modal %}
      {% block script %}
         <script src="/scripts/create-point.js"></script>
    {% endblock script %}
